<!DOCTYPE html> 
<html lang="en">
    <%-  include('../partials/head.ejs', { css_files: ["profile"] })%>

<!--     <link href="/css/login.css" rel ="stylesheet">
 -->

 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</head>

<body>

    <%- include('../partials/header.ejs') %>

   <main>
    <section class="section_profile_user">
    <div class="buttons-container">

        <div class="edit_button btn-container">
            <a href="/user/edit">
                <button class="btn btn_edit">
                    Editar usuario
                </button type="button">
            </a>
        </div>
    
        <div class="delete_button btn-container">
            <form action="/user/delete?_method=delete" method="post" id="form_eliminarCuenta">
                <button class="btn btn_delete" id="btn_eliminarCuenta" type="submit">
                    Eliminar mi cuenta
                </button type="submit">
            </form>
        </div>
    
        <div clasS="favorites_button btn-container">
            <a href="/user/favorites/<%=user.iduser%>">
                <button class="btn btn_favorite">
                    Ver mis favoritos
                </button>
            </a>
        </div>

        <% if( locals.userLogged && (locals.userLogged.is_admin == 0) ){ %>

            <div class="favorites_button btn-container">
                <a href="/products/crear">
                    <button class="btn btn_create">
                        Nuevo producto
                    </button>
                </a>
            </div>
            <div class="favorites_button btn-container">
                <a href="http://127.0.0.1:5173">
                    <button class="btn btn_dashboard">
                        Dashboard
                    </button>
                </a>
            </div>

        <% } %>
        </div>

        <div class="profileUser">
            <img src="/users/<%= user.avatar %>" alt="" class="img_profile">
            <h2 class="title"> Hola  <span><%= user.name %></span>  </h2>
            <br>
            <p> Su mail es: <%= user.email %> </p>
        </div>


        

    </section>

   
    
   </main>

    <%-  include('../partials/footer.ejs')   %>

<script src="/js/profileUser.js"></script>
</body>
</html>