<!DOCTYPE html>
<html lang="en">

<%-  include('../partials/head.ejs', { css_files: ["home"] })%>


<!-- <link rel="stylesheet" href="/css/home.css">
 -->

<!-- </head>
 -->
<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <section class="section-productos flex-col">
            <h3>Basado en tu ultima visita</h3>
            <div class="container-productos flex-col "> 

                <% if (page > 0) { %>
                    <a href="/products/list/paginado?page=<%= parseInt(page) - 1 %>">
                        <button>
                            Atrás
                        </button>
                    </a>
                <% } %>
                
                <%  products.forEach((p)=>{ %>

                <article class="producto card">
                    <a href="/products/<%= p.idProduct %>" class="enlace">
                        <div class="card2">
                            <img src="/products/<%= p.imageProduct.image_route %>" alt="" class="img-product">
                            <div class="main-art-prducto">
                                <p><strong class="producto-precio">$<%= p.price %></strong></p>
                                <p class="producto-nombre"><strong><%= p.name %></strong></p>
                            </div>
                        </div>
                    </a>
                </article>

                <%  }) %>

             
                

                <% if (page * size + products.length < count) { %>
                    <a href="/products/list/paginado?page=<%= parseInt(page) + 1 %>">
                        <button>
                            Siguiente
                        </button>
                    </a>
                <% } %>
                
                

             </div> 
        </section>
    </main>
    <%-  include('../partials/footer.ejs')   %>


</body>
</html>