<!DOCTYPE html>
<html lang="en">

<%-  include('../partials/head.ejs', { css_files: ["productDetail"] })%>
    
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>

    <%- include('../partials/header.ejs') %>

<main class="main_detailProduct flex-col"> 

    <div class="provisorio2">

        <div class="box-product">
          <div class="provisorio">
            <section class="img_detailProduct">

                <% if ( elegido && elegido.imageProduct && elegido.imageProduct.image_route) { %>
                    <img src="/products/<%= elegido.imageProduct.image_route %>" alt="">
                  <% } else { %>
                    <img src="/products/imagen.png" alt="">
                  <% } %>

            </section>
            <section class="detailProduct_other_images">


                <% if (elegido && elegido.other_images && elegido.other_images.length > 0) { %>
                    <% elegido.other_images.forEach((i)=>{ %>
                        <div class="small_img">
                            <img src="/products/<%= i.image %>" alt="">
                        </div>
                    <% }); %>
                <% } %>

            </section>

        </div>
        <section class="container_price">
            <div class="content_price">
                <% if(elegido && elegido.name){ %>
                    <p class="product_name"><%= elegido.name %></p>
                    <p class="product_price">$<%= elegido.price %></p>
                <% } %>
                <div class="reviews">
                    <p class="product_rating">★ ★ ★ ★ ☆</p>
                    <p>Num Reviews</p>
                </div>
                <% if(elegido && elegido.description){ %>

                <p class="product_description"> <%= elegido.description %> </p>
                <% } %>
                <p>Talle:</p>
                    <div class="talles">
                        <div class="xs">
                            <input id="xs" type="radio" name="size" value="xs" checked>
                            <label for="xs">XS</label>
                        </div>
                        <div class="s">
                            <input id="s" type="radio" name="size" value="s" checked>
                            <label for="xs">S</label>
                        </div>
                        <div class="m">
                            <input id="m" type="radio" name="size" value="m" checked>
                            <label for="xs">M</label>
                        </div>
                        <div class="l">
                            <input id="l" type="radio" name="size" value="l" checked>
                            <label for="xs">L</label>
                        </div>
                        <div class="xl">
                            <input id="xl" type="radio" name="size" value="xl" checked>
                            <label for="xs">XL</label>
                        </div>
                    </div>
                    
                    <% if(locals.userLogged){ %>
                        <form action="/carrito/<%= elegido.idProduct %>" method="post" class="form_varios">
                            <button class="buy_button btn_fav" type="submit"> Agregar a Favoritos ⭐ </button>
                            <a href="/carrito/compraFinalizada" class="buy_button button_a_a "><button class=" button_a" type="button" >Comprar</button></a>
                            <button class="agregar-carrito buy_button btn_cart" type="button" data-product-id="<%= elegido.idProduct %>">Agregar al carrito</button>
                        </form>


                    <% }else{ %>
                        <br>
                        <p>Para comprar el producto debe loggearse</p>
                        <br>
                        <a href="/user/login"> 
                            <button class="buy_button" type="button">Ingresar </button>  
                        </a>

                    <% } %>
                    
                </div>
            </section>  
        </div>
        
    <div>
        <% if(elegido){ %>

        <% if( locals.userLogged && (locals.userLogged.is_admin == 0) ){ %>
            <div>
                <form action="/products/<%= elegido.idProduct %>?_method=DELETE" method="post" class="form_buttons" id="form_editar_eliminar">
                    <a href="/products/<%= elegido.idProduct %>/editar" class="edit_button">Editar Producto</a>
                    <button type="submit" class="delete_button"> Eliminar Producto </button>
                </form>
            </div>
        <% } %>
<% } %>
<div class="review_section">
    <div class="post_review_container">
        <p class="title_reviews">Reviews</p>
        <p class="num_reviews">Escribí una reseña</p>
        <form action="" method="POST" enctype="multipart/form-data">
            <input type="text" placeholder="Titulo">
            <textarea name="reseña" id="" cols="30" rows="10" placeholder="Reseña" style="resize: none"></textarea>
            <input type="text" placeholder="Nombre">
            <input type="email" placeholder="Email">
            <div class="flex_rating">
                <p>Puntaje:</p>
                <div class="rating">
                    <input id="radio1" type="radio" name="stars" value="5">
                    <label for="radio1">★</label>
                    <input id="radio2" type="radio" name="stars" value="4">
                    <label for="radio2">★</label>
                    <input id="radio3" type="radio" name="stars" value="3">
                    <label for="radio3">★</label>
                    <input id="radio4" type="radio" name="stars" value="2">
                    <label for="radio4">★</label>
                    <input id="radio5" type="radio" name="stars" value="1">
                    <label for="radio5">★</label>
                </div>
            </div>
        </form>
        <button class="write_review">Publicar</button>
    </div>

    <div class="box-filter">
        <p class="post_filter">Filtrar por:</p>
        <div class="filter_reviews">
            <div class="new_reviews">
                <input id="new" type="radio" name="new" value="new" checked>
                <label for="xs">Recientes</label>
            </div>
            <div class="highest_reviews">
                <input id="highest" type="radio" name="highest" value="highest" checked>
                <label for="xs">Mejores</label>
            </div>
            <div class="lower_reviews">
                <input id="lower" type="radio" name="lower" value="lower" checked>
                <label for="xs">Peores</label>
            </div>
        </div>
        <p class="num_reviews">Num Reviews</p>
        <div class="box-comment-review">
            <div class="profile-user">
                <div class="user">
                    <img src="/image/profile-image-user.png" alt="" class="profile-image">
                    <div>
                        <p class="user-name">Nombre</p>
                        <p class="user-rating">★ ★ ★ ★ ☆</p>
                    </div>        
                </div>
                <div class="comment-review">
                    <p class="title">Título</p>
                    <p>Reseña...</p>
                </div>
            </div>
        </div>
    
        <div class="box-button-reviews">
            <button class="button-reviews">Más</button>    
        </div>

    </div>    

</div>

<div class="product-card">
    <p>También te puede interesar</p>
    
    <div class="product-group">
    <div>
        <article>
            <a href="" class="image-link">
                <img src="/image/producto-remera.jpg" alt="" class="image-product">
            </a>
            <a href="" class="product-link">
                <div class="name-price">
                    <p class="producto-nombre"><strong>Producto</strong></p>
                    <p><strong class="producto-precio">$0.00</strong></p>
                </div>
            </a>
        </article>
    </div>
    <div>
        <article>
            <a href="" class="image-link">
                <img src="/image/producto-remera.jpg" alt="" class="image-product">
            </a>
            <a href="" class="product-link">
                <div class="name-price">
                    <p class="producto-nombre"><strong>Producto</strong></p>
                    <p><strong class="producto-precio">$0.00</strong></p>
                </div>
            </a>
        </article>
    </div>
    <div>
        <article>
            <a href="" class="image-link">
                <img src="/image/producto-remera.jpg" alt="" class="image-product">
            </a>
            <a href="" class="product-link">
                <div class="name-price">
                    <p class="producto-nombre"><strong>Producto</strong></p>
                    <p><strong class="producto-precio">$0.00</strong></p>
                </div>
            </a>
        </article>
    </div>
    <div>
        <article>
            <a href="" class="image-link">
                <img src="/image/producto-remera.jpg" alt="" class="image-product">
            </a>
            <a href="" class="product-link">
                <div class="name-price">
                    <p class="producto-nombre"><strong>Producto</strong></p>
                    <p><strong class="producto-precio">$0.00</strong></p>
                </div>
            </a>
        </article>
    </div>

    </div>
    
</div>
</main>

 <%-  include('../partials/footer.ejs')   %>
<script src="/js/carritoInDetail.js"></script>
</body>
</html>